# Emacs crud
*~
.#*

# tex crud
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.log
*.out
*.pdf
*.ps

# C crud
*.d
*.o

# our crud
/kat_chachadaence
/kat_salsa20daence
/t_beardaence
/t_chachadaence
/t_salsa20daence
/t_tweetdaence
